* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Geologica', sans-serif;
  color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  margin-top: 11rem;
  text-align: center;
  
}

.header img {
  margin-bottom: 1rem;
}

.header h1 {
  font-size: 3.4rem;
}

.header h4 {
  font-size: 2rem;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.8rem;
  margin-top: 3rem;
  padding: 0 1rem;
}

.link:link, .link:active {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.link:hover, .link:visited {
  color: #fff;
}

#HomePageVideo {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;

}

.path-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1.2rem;
}

@media all and (max-width: 45em) {
  html {
    font-size: 80%;
  }

  .header {
    margin-top: 3rem;
  }

  .header h1 {
    line-height: 1.3;
  }
  .main-container {
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 3rem;

  }
}

